@font-face{
  font-family: "Montserrat-Black";
  src:  url('asset/fonts/Montserrat/Montserrat-Black.otf');
}
@font-face {
  font-family: "Montserrat-Light";
  src: url('asset/fonts/Montserrat/Montserrat-Light.otf');
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url('asset/fonts/Montserrat/Montserrat-ExtraBold.otf');
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url('asset/fonts/Montserrat/Montserrat-Medium.otf');
}

html {
  scroll-behavior: smooth;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.p1{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: black;
}
.p2{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #FFFFFF;
}
.p3{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.p4{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #000000;
}
.p5{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #191919;
}
.p6{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.03em;
  color: #000000;
}
.p7{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.p8{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #007AFF;
}
.p9{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  color: #6C6C6C;
}
.p10{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}
.p11{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 35px;
  letter-spacing: 0.02em;
  color: #6C6C6C;
}
.p12{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #007AFF;  
  text-align: center;
}
.p13{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #EDEDED;
  text-align: center;
}
.p14{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-top: -30px;
}
.p15{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #000000; 
}
.p16{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #000000;
}
.p17{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #6C6C6C;
}
.p18{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.06em;
  color: #6C6C6C;
}
.h1{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #000000;
}
.h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #007AFF;
}
.h3{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.04em;
  color: #000000;
}
.h4{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}
.h5{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.h6{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 23px;
  text-align: left;
  letter-spacing: 0.02em;
  color: #000000;
}
.h7{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  text-align: center;
}
.h8{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.04em;
  color: #007AFF;
}
.h9{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.03em;
  color: #000000;
}
.h10{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #007AFF;
}
.h11{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #C4C4C4;
}
.h12{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #007AFF;
  text-align: center;
}
.h13{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
}
.h14{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.09em;
  color: #000000;
  text-align: center;
}
.img1 {
  transition: transform .4s;
}

.img1:hover {
  transform: scale(1.2); 
}
.img{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.card1 {
  transition: transform .4s;
}

.card1:hover {
  transform: scale(1.1); 
}
.card2{
  width: 265px;
  height: 315px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transition: transform .4s;
  visibility: visible;
  margin: 20px 10px;
}
.card2:hover {
  transform: scale(1.05); 
}
.card3 {
  transition: transform .4s;
}

.card3:hover {
  transform: scale(1.07); 
}
.card4{
  width: 405px;
  height: 440px;
  background: #FFFFFF;
  border: 5px solid #EDEDED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: block;
  margin-top: -50px;
  padding: 24px 18px;
}
.card5{
  padding: 15px 38px;
  margin: 0 0 200px 0;
  width: 534px;
  height: 575px;
  background: #FFFFFF;
  opacity: 0.9;
  border: 5px solid #F3F3F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.card6{
  background: #FFFFFF;
  border: 5px solid rgba(237, 237, 237, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 485px;
  height: 500px;
  float: right;
  padding: 24px 39px;
}
.container4 {
  height: 10em;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) ;
  }

  
.button-79 {
  backface-visibility: hidden;
  background: #007AFF;
  border: 0;
  border-radius: 15px;
  box-sizing: border-box;
  width: 152px;
  height: 39.62px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: -.01em;
  line-height: 22px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-79:disabled {
  color: #787878;
  cursor: auto;
}

.button-79:not(:disabled):hover {
  transform: scale(1.05);
}

.button-79:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-79:focus {
  outline: 0 solid transparent;
}

.button-79:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-79:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-79:not(:disabled):active {
  transform: translateY(.125rem);
}

.button-1 {
  backface-visibility: hidden;
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:disabled {
  color: #787878;
  cursor: auto;
}

.button-1:not(:disabled):hover {
  transform: scale(1.05);
}

.button-1:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-1:focus {
  outline: 0 solid transparent;
}

.button-1:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-1:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-1:not(:disabled):active {
  transform: translateY(.125rem);
}

.button-2{
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #6C6C6C;
}
.button-2:focus {
  outline: 0 solid transparent;
}

.button-3 {
  width: auto;
  height: auto;
  padding: 10px 20px;
  backface-visibility: hidden;
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #000000;
}

.button-3:disabled {
  color: #787878;
  cursor: auto;
}

.button-3:not(:disabled):hover {
  transform: scale(1.05);
}

.button-3:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-3:focus {
  outline: 0 solid transparent;
  background: #4298F6;
  border-radius: 5px;
}

.button-3:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-3:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-3:not(:disabled):active {
  transform: translateY(.125rem);
}
.button-4{
  padding: 2px 2px;
  width: 18px;
  height: 17px;
  background-color:#6C6C6C;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  outline: none;
  transition: transform .2s;
}
.button-4:active{
  outline: none;
}
.button-4:focus{
  outline: none;
}
.button-4:hover {
  transform: scale(1.1);
}
.button-4:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.div1-open{
  background: #EDEDED; 
  border-radius: 10px; 
  width: 543px;
  height: 78px;
  text-align: center;
  transition: all 1s ease-out;
  justify-content: center;
  opacity: 1;
  overflow: hidden;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #000000;
  padding-top: 16px;
}
.hide1-open{
  transition: all 1s ease-out;
  opacity: 0;
  height: 0px;
}
.div1-close{
  margin-left: 6px;
  width: 534px;
  background-color: #EDEDED; 
  border-radius: 5px; 
  height: 4px;
  opacity: 0;
  transition: all 0.8s ease-out;
  visibility: hidden;
  justify-content: center;
  position: absolute;
}
.hide1-close{
  visibility: visible;
  transition: all 0.8s ease-out;
  opacity: 1;  
}

.justify1{
  justify-content: center;
}

.visible1 {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}
/* Fade-Out Effect */
.hidden1 {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}
.form-input{
  width: 360px;
  height: 60px;
  background: #FFFFFF;
  border: 1px solid #6C6C6C;
  border-radius: 10px;
  padding: 10px;
}
.form-input2{
  width: 473px;
  height: 60px;
  background: #FFFFFF;
  border: 1px solid #007AFF;
  border-radius: 10px;
}
.form-input3{
  width: 200px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #6C6C6C;
  border-radius: 10px;
}
.form-input3::placeholder {
  text-align: center;
}
.form-input4{
  width: 427px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #6C6C6C;
  border-radius: 10px;
}
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  height: 60px;
  background: #007AFF;
  font-size: 12px;
  transition: all 0.5s;
  color: #fff;
  padding: 0;
}

#topbar .contact-info i {
  font-style: normal;
  color: #fff;
}

#topbar .contact-info i a, #topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
  transition: 0.3s;
}

#topbar .contact-info i a:hover {
  color: #fff;
  text-decoration: underline;
}

#topbar .social-links a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
}

#topbar .social-links a:hover {
  color: white;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  height: 86px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.fixed-top {
  height: 70px;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #222222;
}

#header .logo a span {
  color: #106eea;
}

#header .logo img {
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 15px;
  font-weight: 600;
  color: #222222;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #106eea;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 28px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-weight: 400;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #106eea;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #222222;
}

.navbar-mobile > ul > li {
  padding: 0;
}

.navbar-mobile a:hover:before, .navbar-mobile li:hover > a:before, .navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #106eea;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #106eea;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*slideshow container*/
.slideshow-container {
  position: relative;
  margin: auto;
  margin-left: -40px;
}

/*slideshow*/
.mySlides 
{
  display: none
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 7px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover, .active {
  background-color: #007AFF;
}
.circle {
  margin-top: 0px;
  width: 400px !important;
  height: 400px;
  margin-left: 100px;
  border-radius: 325px;
  -webkit-border-radius: 325px;
  -moz-border-radius: 325px;
  position: relative;
  background-color: #007AFF;
  
}
.card-img-top {
  position: absolute;
  top: -70px;
  left: 50%;
  margin-left: -70px;
  width: 150px !important;
  height: 150px;
}
.video {
  margin-top: 19%;
  position: absolute;
  border-radius: 50px;
  height: 250px;
  width: 450px;
  margin-left: -25px;
}
.card{
  border-radius: 15px;
  width: 350px;
  height: 150px;
 
  background-color: #007AFF;
}
.paragraph{
  position:relative ;
  margin-top: 50px;
}

/*--------------------------------------------------------------
# Aplikasi
--------------------------------------------------------------*/
#card {
  border-radius: 15px;
  width: 350px;
  height: 150px;
  background-color: #007AFF;
}

#topbar .contact-info i {
  font-style: normal;
  color: #fff;
}

#topbar .contact-info i a, #topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
  transition: 0.3s;
}

#topbar .contact-info i a:hover {
  color: #fff;
  text-decoration: underline;
}

#topbar .social-links a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
}

#topbar .social-links a:hover {
  color: white;
}

/*--------------------------------------------------------------
# Header